/* Přidání flex layoutu pro levý a pravý sloupec */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.left-side {
  flex: 1;
  padding-right: 20px;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}

.image-placeholder {
  width: 100%;
  height: 300px; /* později se dá upravit podle obrázku */
  border: 2px dashed #555;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-family: 'Roboto Mono', monospace;
}
